*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font: 'Poppins',sans-serif;
	list-style: none;
}


body{
	background: #f1f0f6;
}
.container{
	display: flex;
	height: 100vh;
	width: 100vw;
	justify-content: space-between;
}
.bio-container{
	height: 100%;
	width: 20%;
	border: 1px solid gray;
}
.center-container{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 70%;
}
.nav-container{
	width: 5%;
	border: 1px solid black;
}

.summary-card{
	box-sizing: content-box;
	display: flex;
	position: relative;
	background: white;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	border-radius: 10px;

}
.summary{
	padding: 50px;
}
.display-picture{
	

}

.services-offered{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 20px;
	align-content: center;
}
.service{
	background: white;
	width: 100%;
	height: 200px;

	border-radius: 10px;
}

.item-card{
	display: grid;
	grid-template-columns:  4fr 6fr;
	background: white;
}
.title{
	font-size: 40px;
	font-weight: 700;
}
.btn{
	background: #F99417;
  width: 9rem;
  height: 3rem;
  border-color: #b931fc;
  font-weight: 700;
  border-radius: 5px;
}